
body{
    
    margin: 0;
    text-align: center;
    background-color: #1F2937;
    
   
}


.cuadrolila{
    
    background-color: #6943FE;
    padding: 30px;

}
h1{
    font-family: 'Inter';
    letter-spacing: -0.03em;
    color: #FFFFFF;
    margin-bottom: 20px;
}

input{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 60px;
    margin: 0px auto;
    width: 117px;
    height: 83px;
    border: 3px solid #B295FF;
    border-radius: 5px;
}
button{
    color: #3D3D3D;
    margin-top: 30px;
    width: 117px;
    height: 42px;
    border-radius: 5px;
    border: 3px solid #B295FF;

}
.textos{
    color: #CCC1FF;
    padding: 10px;
    
}
.textos p{
    color: whitesmoke;
}
.texto{
    background-color: #273549;
    padding: 5px;
    
}
@media (max-width: 578px) {
    .cuadrolila{
    
        background-color: #6943FE;
        padding: 10px;
    
    }
}