html, body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    background-color: #1B1924;
    color: #432000;
    user-select: none;
}

.container {
    display: flex;
    flex-direction: column;
    justify-self: center;
    max-width: 320px;
    margin: 0 auto;
}
img{
    width: 5.625rem;
    height: 5.625rem;
    margin: 0 auto;
}
h1{
    text-align: center;
    color: #FFF;
    font-size: 1.5625rem;
    font-family: Josefin Sans;
    font-weight: 700;
    line-height: normal;
    margin-top:25px;
    margin-bottom: 10px;
}

textarea{
    color:#8F8F8F;
    background-color: #444059;
    resize: none;
    width: 19rem;
    height: 7.3rem;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    color: #8F8F8F;
    font-size:1rem;
    font-family: Inter;
    margin: 10px 0;
    
    
    
}
.fromTo{
    display: flex;
   
    gap: 10px;
    margin-bottom: 10px;
    width: 20.9em;
    
    
}
.from, .to{

    padding: 10px 0px;
    text-align: center;
    border-radius: 8px;
    background-color: #444059;
    border: 0;
    width: 100%
}

button {
    color: #04131C;
    background-color: #B9F18C;
    border: 0;
    width: 20.9rem;
    height: 3rem;
    border-radius: 8px;
    font-size: 1.375rem;
    text-align: center;
    font-family: 'Belanosima', sans-serif;
    font-weight: 700;
    line-height: normal;
    &:hover{
        background-color:#DCEED1;
        cursor:pointer;

        
    }
}
p{
    color: #DCEED1;
}

ul {
    list-style-type: none;
    padding: 0;
    width: 21rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    
}

ul li {
    word-wrap: break-word;
    font-size: 14px;
    text-align: left;
    background-color: #FFFFFF;
    padding: 15px;
    flex-grow: 1;
    border-radius: 5px;
    box-shadow: 0px 1px 4px rgba(1, 1, 1, 0.8);
    &:hover{
        background-color: #1C0221;
        color: #ffffff;
        
    }
    
}
.comment{
    color: rgb(153, 151, 151);
}

.comment-to {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 12px;
    margin-top: 10px;
}
  
.comment-from {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin-top: 16px;
    margin-right: 10px;

}
.action-container {
    display: flex;
    justify-content: space-between;
}
.like-wrapper{
    align-self:flex-end ;
}
.fa-heart{
    margin-right: 5px;
    color: red;
    cursor: pointer;
    
}
@media (max-width: 400px) {
    /* Estilos específicos para dispositivos con un ancho máximo de 480px (por ejemplo, smartphones) */
    body {
        /* Aplica estilos para centrar en dispositivos móviles */
        margin-left: auto;
        margin-right:16px;
    }
}