html, body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    background-color: #1B1924;
    color: #432000;
    user-select: none;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 40px auto;
}
img{
    width: 5.625rem;
    height: 5.625rem;
    margin: 0 auto;
}
h1{
    text-align: center;
    color: #FFF;
    font-size: 1.5625rem;
    font-family: Josefin Sans;
    font-weight: 700;
    line-height: normal;
}

textarea{
    color:#8F8F8F;
    background-color: #444059;
    resize: none;
    width: 19rem;
    height: 7.3rem;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    color: #8F8F8F;
    font-size:1rem;
    font-family: Inter;
    margin: 10px 0;
    
    
    
}
.fromTo{
    display: flex;
   
    gap: 10px;
    margin-bottom: 10px;
    
    
}
.from, .to{
    width: 500px;
    padding: 10px 0px;
    text-align: center;
    border-radius: 8px;
    background-color: #444059;
    border: 0;

}

button {
    color: #04131C;
    background-color: #28A9F1;
    border: 0;
    width: 21rem;
    height: 3rem;
    border-radius: 8px;
    font-size: 1.375rem;
    text-align: center;
    font-family: 'Belanosima', sans-serif;
    font-weight: 700;
    line-height: normal;
    &:hover{
        background-color:#4F6367;
        cursor:pointer;

        
    }
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

ul li {
    font-size: 10px;
    text-align: left;
    background-color: #FFFFFF;
    padding: 15px;
    flex-grow: 1;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    &:hover{
        background-color: #4F6367;
        color: #FDFDFD;
        cursor:pointer;
    }
    
}